.dark-theme {
  --main-heading: white;
  --para-clr:white;
  --bg-clr:black;
}

.light-theme{
  --main-heading: black;
  --para-clr:black;
  --bg-clr:white;

}

h1{
  color: var(--main-heading);
}

p{
  color: var(--para-clr);
}
#home{
 background-color: var(--bg-clr);
}
#about{
  background-color: var(--bg-clr);
 }
 #project{
  background-color: var(--bg-clr);
 }
 .card{
  background-color: var(--bg-clr);
 }
 .card-body{
  background-color: var(--bg-clr);
 }

